.contenedor-grande-banda {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;

  .contenedor-pequeno-banda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    margin-bottom: 50px;

    @media (max-width: 978px) {
    display: flex;
    flex-direction: column;      
    }
    
    .img-banda {
      width: 30%;
      object-fit: contain;
      border-radius: 30px;

      @media (max-width: 978px) {
        width: 100%;
        object-fit: contain;
      }
    }

    .texto-bandmate {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      @media (max-width: 978px) {
        width: 100%;
      }
      
      .titulo-banda {
        text-align: center;
      }

      .parrafo-banda {
        text-align: center;
      }
    }
  }
}

