.contenedor {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    grid-template-areas: 
      "cont-1 cont-1 cont-1 cont-1"
      "cont-2 cont-3 cont-4 cont-5";
  
    @media (max-width: 1067px) {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
      grid-template-areas: 
        "cont-1 cont-1 cont-2"
        "cont-3 cont-4 cont-5";
    }
  
    @media (max-width: 767px) {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      grid-template: repeat(3, 1fr) / repeat(2, 1fr);
      grid-template-areas: 
        "cont-1 cont-1"
        "cont-2 cont-3"
        "cont-4 cont-5";
    }
  }
  
  .container-little {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    text-wrap: balance;
  }
  
  .container-musica:hover {
    background-color: $principalLight;
  }
  
  .container-cover,
  .container-musica,
  .container-banda,
  .container-galeria,
  .container-contrataciones {
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid $principalDark;
  }
  
  .container-cover {
    background-image: url(../img/image-banner.png);
    background-position: center;
    grid-area: cont-1;
  }

  .container-musica {
    background-image: url(../img/banda-alberto.png);
    background-position: center;
    background-color: rgb(255, 145, 217);
    grid-area: cont-2;
  }
  
  .container-banda {
    background-image: url(../img/banda-diego.png);
    background-position: top center;
    background-color: rgb(174, 255, 154);
    grid-area: cont-3;
  }
  
  .container-galeria {
    background-image: url(../img/banda-luis.png);
    background-position: center;
    background-color: rgb(177, 177, 255);
    grid-area: cont-4;
  }
  
  .container-contrataciones {
    background-image: url(../img/banda-delaguardia.png);
    background-position: center;
    background-color: rgb(255, 255, 156);
    grid-area: cont-5;
  }
  
  .heading-hero {
    text-decoration: none;
    color: white;
    border-radius: 0;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: rgba(255, 125, 39, 0.568);
    }
  }

  .animacion-hero {
    animation-name: rocking-text;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
  }

  @keyframes rocking-text {
    0% {
      transform: scale(0.8);
    }
    25% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    75% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
  
  
  .cuerpo-color {
    background-image: $cuerpoColor;
  }