.barra-nav {
    background-image: $navFooterGrandiante;
    background-color: $principalLight;
    position: sticky;
    top: 0;
    flex-grow: 0;
  
    .color-texto {
      color: black;
  
      &:hover {
        color: white;
        transition: color 0.3s ease;
      }

    }

    .color-texto:hover {
      transform: rotate(360deg);
      transition: transform 1.0s ease;
    }
  
    .vinculo-activo {
      text-decoration: underline;
    }
  }
  