.barra-nav {
    background-image: $navFooterGrandiante;
    background-color: $principalLight;
    position: sticky;
    top: 0;
    flex-grow: 0;
  
    .color-texto {
      color: black;
      transition: color 0.3s ease;
  
      &:hover {
        color: white;
      }

    }
  
    .vinculo-activo {
      text-decoration: underline;
    }
  }
  